@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
   font-family: "Inter", sans-serif;
}

body{
  background-color: #F9FAFB;
}
@theme{
  --color-primaryblue-300: #255BFB;
}

a.active{
  background-color: var(--color-primaryblue-300);
  border-radius: 15px;
  color: white ;
  padding: .5rem 1rem;
  transition: all 0.2s ease-in-out;
}

